html {
	background:url(http://unsplash.it/1500/1000?image=881&blur=50);
	background-size: cover;
	font-family: "helvetica neue";
	text-align: center;
	font-size: 10px;
}
.hand {
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
}